$page_element_spacing: 1.875rem;
$side_padding: 3%;

.page-container {
  background-color: $bg-color;
  height: auto;
  padding-bottom: $page_element_spacing;
}

.box {
  background: $white;
  border: 1px solid #E8E8E8;
  -moz-box-shadow: 2px 2px 2px 0px rgba(215,215,215,0.55);
  box-shadow: 2px 2px 2px 0px rgba(215,215,215,0.55);
  margin-top: $page_element_spacing;
}
.page-header-container {
  background-color: $primary-color-light;
  padding: 2% $side_padding;
  h1 {
    margin-top: 0;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
  }
  p {
    color: $white;
    margin-bottom: 1rem;
  }
}
.page-content-header {
  h2 {
    margin-top: $page_element_spacing;
    margin-bottom: 0;
    font-size: 2.375em;
    color: $primary-color-dark;
    padding-left: $side_padding;
  }
}

//adjusting foundation grid elements
.page-container .row {
    max-width: 96%;
}
[class*="column"] + [class*="column"]:last-child {
  float: left;
}

//sidebar
.right-sidebar {
  float: right !important;
}
.perspectives-sidebar {
  background: $white;
  padding: 25px;
  h3.perspectives-sidebar-header {
    font-family: $nav-font;
    color: $primary-color-dark;
    text-transform: uppercase;
    margin-top: 0;
  }
  .perspectives-link {
    margin-top: 5%;
    .perspectives-link-title {
      font-family: $body-font-medium;
    }
  }
}

//general slider styles
.slider-container {
  position: relative;
  .slider {
    .slick-prev {
      left: 25px;
    }
    .slick-next {
      right: 25px;
    }
  }
}

//homepage
.home-slider-header {
  position: absolute;
  top: 50%;
  left: 80px;
  width: 55%;
  height: 16%;
  margin-top: -8%;
  text-shadow: 0px 2px 4px $primary-color-dark;
  h2 {
    font-size: 2.3em;
    font-size: 2.9vw;
    line-height: 1.15;
  }
}
.home-slider-subheader {
  position: absolute;
  bottom: 25px;
  right: 25px;
  color: white;
}
.home-box {
  .home-box-header {
    background-color: $primary-color-light;
    text-transform: uppercase;
    text-align: center;
    padding: 2%;
  }
  .home-box-content {
    padding: 5% 10%;
    p, h3 {
      line-height: 1.2;
    }
    h3 {
      color: $primary-color-dark;
      font-family: $body-font-medium-italic;
      font-size: 1.1em;
      margin-bottom: 1.25rem;
    }
    p.read-more {
      margin-bottom: 0.5rem;
    }
  }
}

//what we do
.process-slider {
  margin-right: $side_padding;
  margin-left: $side_padding;
}
.process-slider-header {
  font-size: 1.25em;
  line-height: 130%;
  color: $primary-color-dark;
  position: absolute;
  top: 50%;
  width: 60%;
  right: 20%;
  height: 80px;
  margin-top: -40px;
  text-align: center;
}

//our companies
.companies-filters {
  .company-filter-header h3 {
    color: $primary-color-light;
    margin-top: $page_element_spacing;
    border-bottom: 2px solid $primary-color-lighter;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }
  a {
    display: block;
    color: $primary-color-light;
  }
  a:hover {
    color: $secondary-color;
  }
  a.selected-cat {
    color: $secondary-color;
    font-family: $body-font-medium;
  }
}

//who we are
.team-member-box {
  min-height: 17.2em;
  .member-box-img {
    img {
      float: left;
      margin: 25px;
      width: 222px;
      height: 222px;
    }
  }
  .member-box-content {
    margin: 25px;
    padding-bottom: 35px;
  }
  h3.member-name {
    text-transform: uppercase;
    color: $primary-color-dark;
    margin: 0;
  }
  .member-title {
    font-family: $body-font-italic;
  }
  .member-excerpt {
    font-size: 0.9em;
    line-height: 120%;
  }
  .read-more {
    margin-bottom: 0;
    position: absolute;
    bottom: 25px;
    right: 45px;
    width: 100%;
  }
}