.page-container {
  background-color: $bg-color;
  min-height: 100%;
  height: auto;
  .row {
    max-width: 96%;
  }
}
.box {
  background: $white;
  border: 1px solid #E8E8E8;
  -moz-box-shadow: 2px 2px 2px 0px rgba(215,215,215,0.55);
  box-shadow: 2px 2px 2px 0px rgba(215,215,215,0.55);
  margin-bottom: 1.875rem;
}
.page-header-container {
  background-color: $primary-color-light;
  padding: 2% 4%;
  h1 {
    margin-top: 0;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
  }
  p {
    color: $white;
    margin-bottom: 1rem;
  }
}

//homepage
.home-slider-container {
  position: relative;
  .home-slider {
    .slick-prev {
      left: 25px;
    }
    .slick-next {
      right: 25px;
    }
  }
  .home-slider-header {
    position: absolute;
    top: 50%;
    left: 80px;
    width: 55%;
    height: 16%;
    margin-top: -8%;
    text-shadow: 0px 2px 4px $primary-color-dark;
    h2 {
      font-size: 2.3em;
      font-size: 2.9vw;
      line-height: 1.15;
    }
  }
  .home-slider-subheader {
    position: absolute;
    bottom: 25px;
    right: 25px;
    color: white;
  }
}
.home-box {
  .home-box-header {
    background-color: $primary-color-light;
    text-transform: uppercase;
    text-align: center;
    padding: 2%;
  }
  .home-box-content {
    padding: 5% 10%;
    p, h3 {
      line-height: 1.2;
    }
    h3 {
      color: $primary-color-dark;
      font-family: $body-font-medium-italic;
      font-size: 1.1em;
      margin-bottom: 1.25rem;
    }
    p.read-more {
      margin-bottom: 0.5rem;
    }
  }
}

//our companies
.companies-boxes {
  margin-top: 1.875rem;
}