//general
ul.nav {
  margin: 0;
  list-style: none;
  padding-bottom: 1px;
  li {
    display: inline-block;
  }
}

//header
.header, .header a {
  font-family: $header-font-family;
  color: $header-font-color;
  line-height: $header-line-height;
  text-rendering: $header-text-rendering;
  text-transform: uppercase;
}
.header-logo {
  padding-top: 4%;
  padding-bottom: 4%;
  @media (max-width: $container-size) {
    padding-left: $side_padding;
  }
  @media #{$small-only} { 
    padding-top: 8%;
    padding-bottom: 8%;
  }
  img {
    width: 29%;
    @media #{$small-only} { 
      width: 65%;
      float: left;
    }
  }
}
.navbar {
  background-color: $primary-color-dark;
  padding-left: 2px;
  ul.header-nav {
    li {
      padding: 2% $side_padding;
      margin: 0 -2px;
      @media #{$small-only} { 
        display: none;
      }
    }
    li:hover, li.current-menu-item {
      background-color: $primary-color-light;
    }
    li.current-menu-item {
      @media #{$small-only} { 
        display: inline-block;
        padding: 4% 6% 4% $small_side_padding;
      }
    }
  }
}

//mobile
a.mobile-menu-link {
  color: $primary-color-dark;
  text-align: right;
  margin-right: $side_padding;
  @media #{$small-only} { 
    margin-right: $small_side_padding;
  }
}
.mobile-menu {
  position: absolute;
  background: $primary-color-dark;
  width: 100%;
  z-index: 1;
  text-align: center;
  overflow-y: hidden;
  max-height: 300px; /* approximate max height */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(1);
  ul.nav li {
    padding: $small_box_padding;
    display: block;
    &.current-menu-item {
      background: $primary-color-light;
    }
  }
}
.mobile-menu.closed {
  max-height: 0;
}

//footer
.footer {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: $footer-font-size;
  @media #{$small-only} { 
    padding-top: 4%;
    padding-bottom: 4%;
  }
  .row {
    max-width: none;
  }
  .columns {
    padding: 0;
  }
  .footer-nav {
    li {
      margin-right: 4%;
      a {
        font-size: $footer-font-size;
        color: $primary-color-dark;
      }
      @media (max-width: $container-size) {
        margin-left: 4%;
      }
      @media #{$small-only} { 
        margin-left: 2%;
        margin-right: 2%;
      }
    }
  }
  .copyright {
    margin-top: 3px;
    @media (max-width: $container-size) {
      margin-right: 4%;
      margin-left: 4%;
    }
  }
}