.page-container {
  background-color: $bg-color;
  height: auto;
  padding-bottom: $page_element_spacing;
}

.box {
  background: $white;
  border: 1px solid #E8E8E8;
  -moz-box-shadow: 2px 2px 2px 0px rgba(215,215,215,0.55);
  box-shadow: 2px 2px 2px 0px rgba(215,215,215,0.55);
  margin-top: $page_element_spacing;
}
.box-no-shadow {
  margin-top: $page_element_spacing;
  background: $white;
  padding: $box_padding;
}
.page-header-container {
  background-color: $primary-color-light;
  padding: 2% $side_padding;
  h1 {
    margin-top: 0;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
  }
  p {
    color: $white;
    margin-bottom: 1rem;
  }
}
.page-content-header {
  h2 {
    margin-top: $page_element_spacing;
    margin-bottom: 0;
    font-size: 2.375em;
    color: $primary-color-dark;
    padding-left: $side_padding;
  }
}
.italic-text {
  font-family: $body-font-italic;
}
.breadcrumb, .breadcrumb a {
  color: $primary-color-light;
  font-size: 0.93em;
}
.breadcrumb a:hover {
  color: $secondary-color;
}
.read-more a {
  color: $secondary-color;
}
//adjusting foundation grid elements
.page-container .row {
  max-width: 100%;
  padding-left: $page_element_spacing / 2;
  padding-right: $page_element_spacing / 2;
}
[class*="column"] + [class*="column"]:last-child {
  float: left;
}

//content & sidebars layout
// .content-sidebar-layout {
//   .main-content-box, .perspectives-sidebar {
//     margin-top: $page_element_spacing;
//     background: $white;
//     padding: $box_padding;
//   }
// }
.main-content-box {
  h1, h2, h3, h4, h5 {
    color: $primary-color-dark;
  }
}
.right-sidebar {
  float: right !important;
}
h3.sidebar-header {
  font-family: $nav-font;
  color: $primary-color-light;
  text-transform: uppercase;
  margin-top: 0;
}
.perspectives-sidebar {
  .perspectives-links-container {
    .perspective-link {
      margin-top: 1rem;
      .perspective-link-title {
        font-family: $body-font-medium;
      }
    }
  }
}
.author-sidebar {
  .author-img-container {
    min-height: 100px;
    margin-bottom: $box_padding;
    .author-img {
      width: 100px;
      height: 100px;
      background-image: url('../images/allison.png');
      background-size: cover;
      display: block;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      float: left;
      margin-right: $box_padding;
      margin-bottom: $box_padding;
    }
    .author-info {
      padding-top: $box_padding;
      font-family: $body-font-medium;
      color: $primary-color-dark;
    }
  }
  .author-desc {
    font-size: 0.9em;
  }
}
.members-sidebar {
  a {
    display: block;
    line-height: 165%;
    &.selected {
      color: $secondary-color;
    }
    &.selected {
      font-family: $body-font-medium;
    }
  }
}

//general slider styles
.slider-container {
  position: relative;
  .slider {
    .slick-prev {
      left: $box_padding;
    }
    .slick-next {
      right: $box_padding;
    }
  }
}

//homepage
.home-slider-header {
  position: absolute;
  top: 50%;
  left: 80px;
  width: 55%;
  height: 16%;
  margin-top: -8%;
  text-shadow: 0px 2px 4px $primary-color-dark;
  h2 {
    font-size: 2.3em;
    font-size: 2.9vw;
    line-height: 1.15;
  }
}
.home-slider-subheader {
  position: absolute;
  bottom: $box_padding;
  right: $box_padding;
  color: white;
}
.home-boxes {
  margin-top: -$page_element_spacing;
}
.home-box {
  min-height: 19.6em;
  .home-box-header {
    background-color: $primary-color-light;
    text-transform: uppercase;
    text-align: center;
    padding: 2%;
  }
  .home-box-content {
    padding: 5% 10%;
    p, h3 {
      line-height: 1.2;
    }
    h3 {
      color: $primary-color-dark;
      font-family: $body-font-medium-italic;
      font-size: 1.1em;
      margin-bottom: 1.25rem;
    }
    p.read-more {
      width: 100%;
      font-size: 0.91em;
      margin-bottom: 0.5rem;
    }
  }
}

//what we do
.process-slider-nav {
  li {
    margin-right: $box_padding;
    padding: $box_padding;
    padding-bottom: $box_padding - 5;
    margin-bottom: 5px;
    &.selected {
      margin-bottom: 0;
      border-bottom: 5px solid $secondary-color;
      a h3 {
        color: $secondary-color;
      }
    }
    a h3 {
      text-transform: uppercase;
      color: $primary-color-dark;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}
.process-slider {
  margin-right: $side_padding;
  margin-left: $side_padding;
}
.process-slider-header {
  font-size: 1.25em;
  line-height: 130%;
  color: $primary-color-dark;
  position: absolute;
  top: 50%;
  width: 60%;
  right: 20%;
  height: 80px;
  margin-top: -40px;
  text-align: center;
}
.values-container {
  margin-top: $page_element_spacing;
}
.value-box {
  margin-top: 0;
  margin-bottom: $page_element_spacing / 2;
  min-height: 4.5em;
  .value-header {
    float: left;
    background-color: $primary-color-light;
    padding: $box_padding;
    margin-right: $box_padding;
    h3 {
      margin: 0;
      text-transform: uppercase;
    }
  }
  .value-desc {
    padding: 29px;
  }
}
//our companies
.companies-filters {
  .company-filter-header h3 {
    color: $primary-color-light;
    margin-top: $page_element_spacing;
    border-bottom: 2px solid $primary-color-lighter;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }
  a {
    display: block;
  }
  a.selected-cat {
    color: $secondary-color;
    font-family: $body-font-medium;
  }
}

//who we are
.team-member-box {
  min-height: 17.2em;
  .member-box-img {
    img {
      float: left;
      margin: $box_padding;
      width: 222px;
      height: 222px;
    }
  }
  .member-box-content {
    margin: $box_padding;
    padding-bottom: 35px;
  }
  h3.member-name {
    text-transform: uppercase;
    color: $primary-color-dark;
    margin: 0;
  }
  .member-title {
    font-family: $body-font-italic;
  }
  .member-excerpt {
    font-size: 0.9em;
    line-height: 120%;
  }
  .read-more {
    margin-bottom: 0;
    position: absolute;
    bottom: $box_padding;
    right: 45px;
    width: 100%;
  }
}

//who we are detailed page
.detailed-member-top {
  margin-top: $box_padding / 2;
  min-height: 222px;
  line-height: 150%;
  img {
    float: left;
    margin-right: $box_padding;
    margin-bottom: $box_padding;
  }
  h1 {
    color: $primary-color-dark;
    margin: 0;
  }
  .detailed-member-title {
    font-family: $body-font-italic;
    margin-bottom: $page_element_spacing / 2;
  }
  span, a {
    display: block;
  }
  .interest-areas {
    margin-top: $page_element_spacing / 2;
  }
}
.detailed-member-desc {
  margin-top: $box_padding;
}