.page-container {
  background-color: $bg-color;
  height: auto;
  padding-bottom: $page_element_spacing;
  @media #{$small-only} {
    padding-bottom: $small_page_element_spacing;
  }
}

.box {
  background: $white;
  border: 1px solid #E8E8E8;
  -moz-box-shadow: 2px 2px 2px 0px rgba(215,215,215,0.55);
  box-shadow: 2px 2px 2px 0px rgba(215,215,215,0.55);
  margin-top: $page_element_spacing;
  @media #{$small-only} {
    margin-top: $small_page_element_spacing;
  }

}
.box-no-shadow {
  margin-top: $page_element_spacing;
  background: $white;
  padding: $box_padding;
  @media #{$small-only} {
    margin-top: $small_page_element_spacing;
    padding: $small_box_padding;
  }
}
.page-header-container {
  background-color: $primary-color-light;
  padding: 2% $side_padding;
  margin-top: -2px;
  @media #{$small-only} {
    padding: 2% $small_side_padding;
  }
  h1 {
    margin-top: 0;
    padding-top: 0.5rem;
  }
  p {
    margin-top: 1rem;
    color: $white;
    margin-bottom: 1rem;
  }
}
.page-content-header {
  h2 {
    margin-top: $page_element_spacing;
    margin-bottom: 0;
    color: $primary-color-dark;
    padding-left: $page_element_spacing;
    @media #{$small-only} {
      margin-top: $small_page_element_spacing;
      padding-left: $small_page_element_spacing;
    }
  }
}
.italic-text {
  font-family: $body-font-italic;
}
.breadcrumb, .breadcrumb a {
  color: $primary-color-light;
  font-size: 90%;
}
.breadcrumb a:hover {
  color: $secondary-color;
}
.read-more a {
  color: $secondary-color;
}
//adjusting foundation grid elements
.page-container .row {
  max-width: 100%;
  padding-left: $page_element_spacing / 2;
  padding-right: $page_element_spacing / 2;
  @media #{$small-only} {
    padding-left: $small_page_element_spacing / 2;
    padding-right: $small_page_element_spacing / 2;
  }
}
[class*="column"] + [class*="column"]:last-child {
  float: left;
}

//content & sidebars layout
// .content-sidebar-layout {
//   .main-content-box, .perspectives-sidebar {
//     margin-top: $page_element_spacing;
//     background: $white;
//     padding: $box_padding;
//   }
// }
.main-content-box {
  h1, h2, h3, h4, h5 {
    color: $primary-color-dark;
  }
}
.right-sidebar {
  float: right !important;
}
h3.sidebar-header {
  font-family: $nav-font;
  color: $primary-color-light;
  text-transform: uppercase;
  margin-top: 0;
}
.perspectives-sidebar {
  .perspectives-links-container {
    .perspective-link {
      margin-top: 1rem;
      .perspective-link-title {
        font-family: $body-font-medium;
      }
    }
  }
}
.author-sidebar {
  .author-img-container {
    min-height: 100px;
    margin-bottom: $box_padding;
    @media #{$small-only} {
      margin-bottom: $small_box_padding;
    }
    .author-img {
      width: 100px;
      height: 100px;
      background-image: url('../images/allison.png');
      background-size: cover;
      display: block;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      float: left;
      margin-right: $box_padding;
      margin-bottom: $box_padding;
      @media #{$small-only} {
        margin-right: $small_box_padding;
        margin-bottom: $small_box_padding;
      }
    }
    .author-info {
      padding-top: $box_padding;
      font-family: $body-font-medium;
      color: $primary-color-dark;
      @media #{$small-only} {
        padding-top: $small_box_padding;
      }
    }
  }
  .author-desc {
    font-size: 95%;
  }
}
.teams-sidebar {
  a {
    display: block;
    line-height: 165%;
    &.selected {
      color: $secondary-color;
    }
    &.selected {
      font-family: $body-font-medium;
    }
  }
}

//general slider styles
.slider-container {
  position: relative;
  .slider {
    .slick-prev {
      left: $box_padding;
      @media #{$small-only} {
        display: none !important;
      }
    }
    .slick-next {
      right: $box_padding;
      @media #{$small-only} {
        display: none !important;
      }
    }
    img {
      max-width: none;
    }
  }
}

//homepage
.home {
  .navbar {
    @media #{$small-only} {
      display: none;
    }
  }
}
.home-slider-header {
  position: absolute;
  top: 50%;
  left: 80px;
  width: 53%;
  height: 14%;
  margin-top: -7.5%;
  text-shadow: 0px 2px 4px $primary-color-dark;
  pointer-events: none;
  @media #{$medium-only} { 
    width: 57%;
  }
  @media #{$small-only} {
    top: 50%;
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 200px;
    margin-top: -100px;
  }
  h1, h2 {
    font-size: 250%;
    line-height: 1.15;
    @media #{$medium-only} { 
      font-size: 230%;
    }
    @media #{$small-only} {
      font-size: 190%;
    }
  }
}
.home-slider-subheader {
  position: absolute;
  bottom: $box_padding;
  right: $box_padding;
  color: white;
  @media #{$small-only} {
    bottom: $small_box_padding;
    right: $small_box_padding;
  }
}
.home-boxes {
  margin-top: -$page_element_spacing;
  @media #{$small-only} {
    margin-top: -$small_page_element_spacing;
  }
}
.home-box {
  min-height: 19.6em;
  .home-box-header {
    background-color: $primary-color-light;
    text-transform: uppercase;
    text-align: center;
    padding: 2%;
  }
  .home-box-content {
    padding: 3% $box_padding;
    p, h3 {
      line-height: 135%;
    }
    h3 {
      color: $primary-color-dark;
      font-family: $body-font-medium-italic;
      font-size: 120%;
      margin-bottom: 1.25rem;
    }
    p.read-more {
      width: 100%;
      font-size: 95%;
      margin-bottom: 0.5rem;
    }
  }
}

//what we do
.process-slider-nav {
  li {
    margin-right: $box_padding;
    padding: $box_padding;
    padding-bottom: $box_padding - 5;
    margin-bottom: 5px;
    @media #{$small-only} { 
      margin-right: 0;
      padding: $small_box_padding;
      padding-bottom: $small_box_padding - 5;
    }
    &.selected {
      margin-bottom: 0;
      border-bottom: 5px solid $secondary-color;
      a h3 {
        color: $secondary-color;
      }
    }
    a h3 {
      text-transform: uppercase;
      color: $primary-color-dark;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}
.process-slider {
  margin-right: $page_element_spacing;
  margin-left: $page_element_spacing;
  @media #{$small-only} { 
    margin: 0;
  }
}
.process-slider-header {
  font-size: 120%;
  line-height: 130%;
  color: $primary-color-dark;
  position: absolute;
  top: 50%;
  width: 60%;
  right: 20%;
  height: 80px;
  margin-top: -40px;
  text-align: center;
  @media #{$small-only} { 
    font-size: 110%;
    height: 170px;
    margin-top: -85px;
  }
}
.values-container {
  margin-top: $page_element_spacing;
  @media #{$small-only} { 
    margin-top: $small_page_element_spacing;
    margin-bottom: -$small_page_element_spacing;
  }
}
.value-box {
  margin-top: 0;
  min-height: 4.5em;
  &.row {
    padding: 0;
    margin: 0;
    margin-bottom: $page_element_spacing / 2;
    @media #{$small-only} { 
      margin-bottom: $small_page_element_spacing;
    }
  }
  .value-header {
    float: left;
    background-color: $primary-color-light;
    padding: $box_padding;
    text-align: center;
    @media #{$small-only} { 
      padding: $small_box_padding / 1.6;
    }
    h3 {
      margin: 0;
      text-transform: uppercase;
    }
  }
  .value-desc {
    display: table;
    min-height: 75px;
    padding-top: 3px;
    p {
      display: inline-block; //ie fix for vertical align
      display: table-cell;
      vertical-align: middle;
      line-height: 1.3;
    }
  }
}
//our companies
.companies-filters {
  .company-filter-header h3 {
    color: $primary-color-light;
    margin-top: $page_element_spacing;
    border-bottom: 2px solid $primary-color-lighter;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    @media #{$small-only} { 
      margin-top: $small_page_element_spacing;
    }
  }
  a {
    display: block;
  }
  a.selected-cat {
    color: $secondary-color;
    font-family: $body-font-medium;
  }
}

//who we are
.bio-box {
  min-height: 17.2em;
  .bio-box-img {
    img {
      float: left;
      margin: $box_padding;
      width: 222px;
      height: 222px;
      @media #{$small-only} { 
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: $small_box_padding;
      }
    }
  }
  .bio-box-content {
    margin: $box_padding;
    @media #{$small-only} { 
      margin: $small_box_padding;
    }
    .bio-box-top {
      margin-bottom: $box_padding / 2;
      @media #{$small-only} { 
        margin-bottom: $small_box_padding / 2;
      }
      h3.bio-name {
        text-transform: uppercase;
        color: $primary-color-dark;
        margin: 0;
      }
      .bio-title {
        font-family: $body-font-italic;
      }
      p {
        margin: 0
      }
    }
    .bio-excerpt {
      font-size: 95%;
      line-height: 135%;
      padding-bottom: $box_padding;
      @media #{$small-only} { 
        padding-bottom: $small_box_padding * 2;
      }
    }
    .read-more {
      margin-bottom: 0;
      position: absolute;
      bottom: $box_padding;
      right: 45px;
      width: 100%;
      @media #{$small-only} { 
        bottom: $small_box_padding;
      }
    }
  }
}

//who we are detailed page
.detailed-bio-top {
  margin-top: $box_padding / 2;
  min-height: 222px;
  line-height: 150%;
  @media #{$small-only} { 
    margin-top: $small_box_padding / 2;
  }
  img {
    float: left;
    margin-right: $box_padding;
    margin-bottom: $box_padding;
    @media #{$small-only} { 
      margin-right: $small_box_padding;
      margin-bottom: $small_box_padding;
    }
  }
  h1 {
    color: $primary-color-dark;
    margin: 0;
  }
  .detailed-bio-title {
    font-family: $body-font-italic;
    margin-bottom: $page_element_spacing / 2;
    @media #{$small-only} { 
      margin-bottom: $small_page_element_spacing / 2;
    }
  }
  span, a {
    display: block;
  }
  .interest-areas {
    margin-top: $page_element_spacing / 2;
    @media #{$small-only} { 
      margin-top: $small_page_element_spacing / 2;
    }
  }
}
.detailed-bio-desc {
  margin-top: $box_padding;
  @media #{$small-only} { 
    margin-top: $small_box_padding;
  }
}