html {
  font-size: $base-font-size;
  margin-top: 0 !important;
  @media #{$small-only} { 
    font-size: 90%;
  }
}

body {
  font-family: $body-font-family;
  color: $body-font-color;
  background-color: $body-bg;
  font-weight: $font-weight-normal;
  line-height: $base-line-height;
  font-style: $body-font-style;
}

strong {
  font-weight: $font-weight-normal;
  font-family: "Franklin Gothic Medium", "Helvetica", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.5rem;
  line-height: 120%;
}

h1, h2, h3 {
  font-family: "Marat Medium", Georgia, "Times New Roman", serif;
}

h1 {
  font-size: 250%; /* 38 / 16 */
  text-transform: capitalize;
}

.page-header h1 {
  color: $white;
}

.page-content h1 {
  color: $primary-color-dark;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 150%;
}

a {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $secondary-color;
  }
}

$container-size: 1200px;

.container {
  max-width: $container-size;
  margin: 0 auto;
}

//spacing
$page_element_spacing: 1.875rem;

$side_padding: 3%;
@media #{$small-only} { 
  $side_padding: 5%;
}

$box_padding: 25px;